.ipynb_checkpoints/
__pycache__/
*.pyc
.DS_Store
.venv/
venv/
env/

# Local notebook and Python tooling
.python-version

# Dataset files
training.1600000.processed.noemoticon.csv
*.zip

# Jupyter runtime
*.nbconvert.ipynb

# Project folders
/docu/
/Final Project/
